
header{
    background-color:map-get($colores,color_fondo);
    color: map-get($colores,color_texto);
    text-align: center;
    padding: 20px 0; /* Ajusta el espacio interno superior e inferior */
    .logo-encabezado {
        max-height: 60px; /* Establece una altura máxima para el logo */
        margin-left: 20px; /* Añade un margen a la izquierda del logo */
        margin-bottom: 20px;}}
        .btn-group{ 
            overflow-x: auto;
            white-space: nowrap;
            .boton {
                margin-bottom: 3vh;
                padding: 10px 20px; /* Espaciado interno del botón */
                background-color:map-get($colores,color_fondo);
                color: white; /* Color de texto blanco */
                text-decoration: none; /* Elimina el subrayado predeterminado del enlace */
                border: none; /* Elimina el borde del botón */
                border-radius: 5px; /* Esquinas redondeadas */
                font-family:$tipo3;
                font-size: 16px; /* Tamaño de fuente */
                cursor: pointer; /* Cambia el cursor al pasar el ratón */
                height: 2vh;
            }
        }
.boton:hover {
background-color: #555; /* Cambia el color de fondo al pasar el ratón sobre el botón */}